/*Adds lines to links with staff colour*/

.moderator .regular>.cooked a, .user-stream .item.moderator-action .title a {
    color: #00b7ff !important;
    border-bottom: 2px dotted #fff !important;
}

/*Wiki background*/

.wiki .topic-body {
    background-color: #195720;
}

/*Staff username colour*/

.names span.staff a {
   color: #FFFFFF;
}

/*Post line divider colour*/

.topic-body {
    width: calc(690px + (11px * 2));
    float: left;
    position: relative;
    border-top: 1px solid #6f6f6f;
    padding: 12px 0 0 0;
}

