/*Adds lines to links with staff colour*/

.moderator .regular>.cooked a, .user-stream .item.moderator-action .title a {
    color: #00b7ff !important;
    border-bottom: 2px dotted #fff !important;
}

/*Wiki background*/

.wiki .topic-body {
    background-color: #195720;
}

/*Staff username colour*/

.names span.staff a {
   color: #FFFFFF;
}

